/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

audio,
embed,
iframe,
img,
object,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.container {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: hidden; }

@media screen and (min-width: 768px) {
  .container {
    max-width: 504px;
    width: 504px; } }

@media screen and (min-width: 1224px) {
  .container {
    max-width: 612px;
    width: 612px; } }

@media screen and (min-width: 1392px) {
  .container {
    max-width: 696px;
    width: 696px; } }

.rainbow {
  color: white;
  -webkit-animation: rainbow 8s ease infinite;
  animation: rainbow 10s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 800% 800%;
  border-color: transparent; }

@-webkit-keyframes rainbow {
  0% {
    background-position: 0 80%; }
  50% {
    background-position: 90% 20%; }
  100% {
    background-position: 0 80%; } }

@keyframes rainbow {
  0% {
    background-position: 0 80%; }
  50% {
    background-position: 90% 20%; }
  100% {
    background-position: 0 80%; } }

@-webkit-keyframes dot {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0); } }

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

.chat {
  padding-bottom: 2.5rem; }

.options {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  transition: bottom 500ms cubic-bezier(0.28, 0, 0, 1.005); }
  .options.hidden {
    bottom: -86px; }

.item-container {
  padding: 0.75rem 0; }
  .item-container.item-container--me {
    text-align: right; }
    .item-container.item-container--me .item {
      color: white;
      background-color: #276cda;
      border-bottom-right-radius: 8px; }
      .item-container.item-container--me .item.hidden {
        transform: translateX(50px); }
  .item-container.item-container--bot {
    text-align: left; }
    .item-container.item-container--bot .item {
      background-color: whitesmoke;
      border-bottom-left-radius: 8px; }
      .item-container.item-container--bot .item.hidden {
        transform: translateX(-50px); }

.item {
  display: inline-block;
  width: auto;
  padding: 1rem 1.125rem;
  border-radius: 24px;
  transform: translateX(0);
  transition: transform 2000ms cubic-bezier(0, 1.005, 0.22, 1); }
  .item.is-typing {
    padding: 1.25rem 1rem 1rem;
    text-align: center; }
    .item.is-typing .dot {
      position: relative;
      float: left;
      width: 8px;
      height: 8px;
      margin-right: 0.25rem;
      background-color: grey;
      border-radius: 50%;
      animation: dot 0.75s infinite; }
      .item.is-typing .dot:nth-child(1n) {
        animation-delay: 0.25s; }
      .item.is-typing .dot:nth-child(2n) {
        animation-delay: 0.5s; }
      .item.is-typing .dot:nth-child(3n) {
        animation-delay: 0.75s; }
      .item.is-typing .dot:last-child {
        margin-right: 0; }
    .item.is-typing.hidden {
      display: none; }
  .item p {
    padding: 0 0 1rem; }
    .item p:last {
      padding: 0; }

.button {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.75rem 1rem;
  color: white;
  background-color: #276cda;
  border-radius: 24px;
  border-bottom-right-radius: 8px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer; }
  .button.hidden {
    display: none; }
