@import 'bulma';
@import 'rainbow';

.container {
  padding: 1rem;
}

.chat {
  padding-bottom: 2.5rem;
}

.item-container {
  padding: 0.75rem 0;

  &.item-container--me {
    text-align: right;
    & .item {
      background-color: #276cda;
      color: white;
      border-bottom-right-radius: 8px;
    }
  }

  &.item-container--bot {
    text-align: left;
    & .item {
      background-color: whitesmoke;
      border-bottom-left-radius: 8px;
    }
  }
}

.item {
  width: auto;
  display: inline-block;
  border-radius: 24px;
  padding: 1.25rem 1.5rem;

  &.is-typing {
    & .dot {
      position: relative;
      width: 8px;
      height: 8px;
      background-color: grey;
      border-radius: 50%;
      float: left;
      margin-right: 0.25rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &.hidden {
      display: none;
    }
  }

  & p {
    padding: 1rem 0;
  }
}

.options {
  position: fixed;
  width: 100%;
  margin: 1.5rem 0;
  bottom: 0;
  transition: bottom 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950);

  &.hidden {
    bottom:  -100px;
  }
}

.buttons {
  text-align: center;
}

.button {
  width: auto;
  border-radius: 24px;
  border-bottom-right-radius: 8px;
  padding: 1.25rem 1.5rem;

  &.hidden {
    display: none;
  }
}
